<!-- app-header.component.html -->
<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Home</a>
            <div class="d-flex flex-grow-1 justify-content-end"> <!-- Flexbox verwendet, um den Inhalt rechts auszurichten -->
                <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                        Admin
                    </button>
                    <form class="dropdown-menu p-2 dropdown-menu-end">
                        <div class="mb-3">
                            <label for="exampleDropdownFormEmail2" class="form-label">Email Adresse</label>
                            <input type="email" class="form-control" id="exampleDropdownFormEmail2" placeholder="email@bsp.de">
                        </div>
                        <div class="mb-3">
                            <label for="exampleDropdownFormPassword2" class="form-label">Passwort</label>
                            <input type="password" class="form-control" id="exampleDropdownFormPassword2" placeholder="Passwort">
                        </div>
                        <button type="submit" class="btn btn-success">Anmelden</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
    
</div>
  