<div>
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">Navbar</a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <div class="container-fluid">
      <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <div class="position-sticky">
              <ul class="nav flex-column">
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
                  </li>
                  <!-- Weitere Sidebar-Elemente -->
              </ul>
          </div>
      </nav>
          <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
              <!-- Hier kommt der Hauptinhalt deiner Seite -->
              <router-outlet></router-outlet> <!-- Hier wird der Inhalt der verschiedenen Routen angezeigt -->
          </main>
      </div>
  </div>
</div>

<router-outlet />
